@tailwind base;
@tailwind components;
@tailwind utilities;

/* .menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */

.main-gradient {
  /* background: rgb(244, 158, 58); */
  background: linear-gradient(30deg, #f59e0b 18%, #ec4899 93%);
}

.main-gradient-2 {
  /* background: rgb(244, 158, 58); */
  background: linear-gradient(30deg, #f59e0b 18%, #ec4899 93%);
}

.orange-custom {
  background: #c67d2a;
}

.text-orange-custom {
  color: #c67d2a;
}

.green-custom {
  background: #0eae62;
}

.text-green-custom {
  color: #0eae62;
}

.grey-custom {
  background: #dadfdf;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #ddd;
}

/* Handle of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #aaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
