@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.login-gradient {
  background: rgb(244,158,58);
  background: linear-gradient(30deg, rgba(244,158,58,1) 18%, rgba(71,71,71,1) 93%);
}